# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main.cpp

# Logs
*.log
*__pycache__/*

*.pyc
*.pyo
.mypy_cache

# AUR
.SRCINFO

# Cmake
build

# Config
.vscode